.clicks-div {
  width: 100%;
  height: 800px;
  border: 1px solid rebeccapurple;
}

.zuz {
  width: 200px;
  height: 200px;
  border: 1px solid rebeccapurple;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.zuz1 {
  width: 100%;
  height: 33%;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  justify-content: center;
}
.zuz2 {
  width: 100%;
  height: 33%;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  justify-content: space-between;
}
.zuz3 {
  width: 100%;
  height: 33%;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  justify-content: center;
}
.balon {
  font-size: 20px;
  /* border: 1px solid rebeccapurple; */
}
